label,
button {
  display: block;
  margin-bottom: 8px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}

.error {
  color: red;
  font-size: 12px;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

details {
  margin-top: 20px;
  margin-bottom: 20px;
  color: gray;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

section {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 40px;
  background-color: cornsilk;
}
